<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:decorate="~{/layouts/layout.html}">

  <th:block layout:fragment="content">
  
  
<div class="container-xxl py-4">
    <div class="container text-center py-5">

      <h1 class="fw-bold text-primary mb-4">급여 계산 메뉴</h1>
      <p class="text-muted mb-5">원하시는 급여 계산 방식을 선택하세요.</p>

      <div class="row justify-content-center g-4">

        <!-- 전체 급여 계산 -->
        <div class="col-md-4">
          <a th:href="@{/pay/calc/all}" 
             class="btn btn-lg btn-primary w-100 py-4 shadow">
            전체 급여 계산
          </a>
        </div>

        <!-- 사원별 급여 계산 -->
        <div class="col-md-4">
          <a th:href="@{/pay/calc/emp}" 
             class="btn btn-lg btn-outline-primary w-100 py-4 shadow-sm">
            사원별 급여 계산
          </a>
        </div>

      </div>
    </div>
    </div>

  </th:block>
</th:block>
