<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout.html}">
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretendard@latest/dist/web/static/pretendard.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/order/common.css}"/>
  <link rel="stylesheet" th:href="@{/css/order/list.css}"/>
</head>
<body>
<th:block layout:fragment="content">
<div class="custom-body container-xxl flex-grow-1 container-p-y">
  <div class="mb-3 d-flex justify-content-between align-items-center">
    <div class="title">
      <i class="bi bi-kanban-fill"></i>
      작업지시 관리
    </div>
    <button class="btn btn-yeoun-primary" id="btnCreate">
      <i class="bi bi-plus-circle"></i> 새로 등록
    </button>
  </div>
  <!-- ===== 작업지시 목록 ===== -->
  <div>
    <div class="order-card">
      <div class="order-card-header">
        <div class="card-title">
          작업지시 목록
        </div>
        <span class="yeoun-badge-outline" th:text="|처리하지 않은 생산 계획이 ${plansLength}건 있습니다|">
        </span>
      </div>

      <!-- 검색 / 필터 영역 -->
      <div class="mb-2 search-row">
        <input id="searchKeyword" type="text" class="form-control" placeholder="품목명 / 작업지시 번호 검색" />
        <select id="searchStatus" class="form-select" style="max-width: 150px;">
          <option value="ALL">전체 상태</option>
          <option value="CREATED">준비</option>
          <option value="RELEASED">확정</option>
          <option value="IN_PROGRESS">진행</option>
          <option value="COMPLETED">완료</option>
          <option value="CANCELED">취소</option>
        </select>
        <input type="date" class="form-control" id="startDateFrom" style="max-width: 150px;" />
        <button id="btnSearchOrder" class="btn btn-sm btn-outline-secondary">
          <i class="las la-search drop-shadow fs-5"></i>
        </button>
      </div>

      <div id="workOrderGrid"></div>
    </div>
  </div>
</div>

  <!-- 모달 HTML -->
  <!-- =================================== 등록 모달 ========================================== -->
  <div class="modal fade" id="workCreateModal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content yeoun-modal">

        <!-- Header -->
        <div class="yeoun-modal-header">
          <div class="modal-title-wrap">
            <h5 class="modal-title">작업지시 등록</h5>
          </div>
          <button class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Body -->
        <div class="yeoun-modal-body">
          <div class="flex-fill" id="workorder-form">
	          <form id="workCreateForm" th:object="${workOrderRequest}">
	          <input type="hidden" name="${_csrf.headerName}" value="${_csrf.token}">
	              <div class="alert alert-danger"
	                   th:if="${#fields.hasGlobalErrors()}">
	                  <p th:each="err : ${#fields.globalErrors()}"
	                     th:text="${err}"></p>
	              </div>
	
	              <div class="row g-3 mb-3">
	          		<div class="col-6">
	          			<label class="form-label">생산 계획서</label>
	          			<select th:field="*{planId}" class="form-select" style="color: red;">
	          				<option disabled th:selected="${planId == null}" value="" >생산 계획을 먼저 선택해주세요.</option>
	          				<th:block th:each="plan : ${plans}">
	          					<option th:value="${plan.planId}"
	          							th:text="${plan.planId}"
	          							th:data-name="${plan.itemName}"
	                                    th:data-remain="${plan.remainingQty}"
	          							th:data-total="${plan.totalQty}"
	          							style="color: #888;"
	          					></option>
	          				</th:block>
	          			</select>
	                    <div class="invalid-feedback"
	                         data-error-for="planId" style="display:none;">
	                        생산 계획은 필수 선택값입니다.
	                    </div>
	          		</div>
	          		<div class="col-3">
	          			<label class="form-label">품목 및 수량</label> <!-- view 용도. form 전송값 없음 -->
	          			<div id="planDetail" class="form-control">
	          				생산 계획을 선택해주세요.
	          			</div>
	          		</div>
	          		<div class="col-3">
	          			<label class="form-label">공정 코드(라우트)</label>
	          			<input type="text" class="form-control" th:field="*{routeId}" id="routeHeader"
	          				placeholder="생산 계획을 선택해주세요."/>
	<!--           			<div id="routeHeader" class="form-control">
	          				생산 계획을 선택해주세요.
	          			</div> -->
	          		</div>
	          	</div>
	
	            <!-- 품목 / 라인 -->
	            <div class="row g-3 mb-3">
	              <div class="col-4">
	                <label class="form-label">품목</label>
	                <select th:field="*{prdId}" class="form-select" id="prdName">
	                	<option value="" disabled th:selected="${prdId == null}">생산 계획을 선택해주세요.</option>
	                	<th:block th:each="prod : ${prods}">
	                		<option th:value="${prod.prdId}" th:text="${prod.prdName}"></option>
	                	</th:block>
	                </select>
	                  <div class="invalid-feedback"
	                       data-error-for="prdId" style="display:none;">
	                      품목은 필수 선택값입니다.
	                  </div>
	              </div>
	              <div class="col-4">
	                <label class="form-label">라인</label>
	                <select th:field="*{lineId}" class="form-select" id="line">
	                  <option value="" disabled th:selected="${lineId == null}">눌러서 선택</option>
	                  <th:block th:each="line : ${lines}">
	                  	<option th:value="${line.lineId}" th:text="${line.lineName}"></option>
	                  </th:block>
	                </select>
	                  <div class="invalid-feedback"
	                       data-error-for="lineId" style="display:none;">
	                      작업 라인은 필수 선택값입니다.
	                  </div>
					  <div id="lineSuggestBox" class="suggest-box"></div>
	              </div>
	              <div class="col-4">
	                <label class="form-label">계획 수량</label>
	                <input th:field="*{planQty}" type="number" class="form-control" placeholder="예) 250">
	                  <div class="invalid-feedback"
	                       data-error-for="planQty" style="display:none;">
	                      수량은 필수 입력값입니다.
	                  </div>
	              </div>
	            </div>
	
	            <!-- 날짜 / 시간 -->
	            <div class="row g-3 mb-3">
	              <div class="col-3">
	          			<label class="form-label">예상 소요 시간</label>
	          			<div id="referTime" class="form-control">
	          				생산 계획을 선택해주세요.
	          			</div>
	              </div>
	              <div class="col-3">
	                <label class="form-label">계획 일자</label>
	                <input type="date" class="form-control" id="planDate" name="planDate">
	                <div class="invalid-feedback"
	                     data-error-for="planDate" style="display:none;">
	                     계획 일자는 필수 입력값입니다.<br>
	                     계획 일자는 과거일 수 없습니다.
	                </div>
	              </div>
	              <div class="col-3">
	                <label class="form-label">시작 시간</label>
	                <input type="time" class="form-control" id="startTime" name="startTime"
	                	   min="09:00" max="18:00" step="1800">
	                  <input type="hidden" th:field="*{planStartDate}">
	                  <div class="invalid-feedback"
	                       data-error-for="startTime" style="display:none;">
	                      시작 시간은 필수 입력값입니다.
	                  </div>
	              </div>
	              <div class="col-3">
	                <label class="form-label">종료 시간</label>
	                <input type="time" class="form-control" id="endTime" name="endTime"
	                	   min="09:00" max="18:00" step="1800">
	                  <input type="hidden" th:field="*{planEndDate}">
	                  <div class="invalid-feedback"
	                       data-error-for="endTime" style="display:none;">
	                  	   종료 시간은 필수 입력값입니다.
	                  </div>
	                  <div class="invalid-feedback"
	                       data-error-for="planEndDate" style="display:none;">
	                       시작 시간보다 이른 시간을 선택할 수 없습니다.
	                  </div>
	              </div>
	            </div>
	
	            
	            <div class="worker-flow-container">
				
				  <div class="flow-item">
				    <div class="flow-title">블렌딩</div>
				    <div class="flow-desc">혼합탱크·교반기</div>
				    <select th:field="*{prcBld}" class="flow-select" id="blendSelect">
				      <option value="" selected th:selected="${prcBld == null}">선택</option>
				      <th:block th:each="worker : ${workers}">
	                  	<option th:value="${worker.empId}"
	                  			th:text="|${worker.empName} (${worker.posName})|"
	                  	></option>
	                  </th:block>
				    </select>
	                  <div class="invalid-feedback"
	                       data-error-for="prcBld" style="display:none;">
	                      작업자를 선택해야 합니다.<br/>
	                      작업자가 중복될 수 없습니다.
	                  </div>
				  </div>
				  
				  <div class="flow-item">
				    <div class="flow-title">여과</div>
				    <div class="flow-desc">여과기</div>
				    <select th:field="*{prcFlt}" class="flow-select" id="filterSelect">
				      <option value=""  selected th:selected="${prcFlt == null}">선택</option>
				      <th:block th:each="worker : ${workers}">
	                  	<option th:value="${worker.empId}"
	                  			th:text="|${worker.empName} (${worker.posName})|"
	                  	></option>
	                  </th:block>
				    </select>
	                  <div class="invalid-feedback"
	                       data-error-for="prcFlt" style="display:none;">
	                      작업자를 선택해야 합니다.<br/>
	                      작업자가 중복될 수 없습니다.
	                  </div>
				  </div>
				
				  <div class="flow-item">
				    <div class="flow-title">충전</div>
				    <div class="flow-desc">충전기</div>
				    <select th:field="*{prcFil}" class="flow-select" id="fillSelect">
				      <option value="" selected th:selected="${prcFil == null}">선택</option>
				      <th:block th:each="worker : ${workers}">
	                  	<option th:value="${worker.empId}"
	                  			th:text="|${worker.empName} (${worker.posName})|"
	                  	></option>
	                  </th:block>
				    </select>
	                  <div class="invalid-feedback"
	                       data-error-for="prcFil" style="display:none;">
	                      작업자를 선택해야 합니다.<br/>
	                      작업자가 중복될 수 없습니다.
	                  </div>
				  </div>
				
				  <div class="flow-item">
				    <div class="flow-title">조립 + 캡핑</div>
				    <div class="flow-desc">반자동 캡핑기</div>
				    <select th:field="*{prcCap}" class="flow-select" id="cappingSelect">
				      <option value="" selected th:selected="${prcCap == null}">선택</option>
				      <th:block th:each="worker : ${workers}">
	                  	<option th:value="${worker.empId}"
	                  			th:text="|${worker.empName} (${worker.posName})|"
	                  	></option>
	                  </th:block>
				    </select>
	                  <div class="invalid-feedback"
	                       data-error-for="prcCap" style="display:none;">
	                      작업자를 선택해야 합니다.<br/>
	                      작업자가 중복될 수 없습니다.
	                  </div>
				  </div>
				  
				  <div class="flow-item">
				  	<div class="flow-title">QC</div>
				  	<div class="flow-desc">품질 검사</div>
				  	<select th:field="*{prcQc}" class="flow-select" id="qcSelect">
	  					<option value="" selected th:selected="${prcQc == null}">선택</option>
	            		<th:block th:each="worker : ${qcWorkers}">
		            		<option th:value="${worker.empId}"
		                  			th:text="|${worker.empName} (${worker.posName})|"
		                  	></option>
	            		</th:block>
				  	</select>
				  	  <div class="invalid-feedback"
	                       data-error-for="prcQc" style="display:none;">
	                      작업자를 선택해야 합니다.
	                  </div>
				  </div>
				
				  <div class="flow-item">
				    <div class="flow-title">라벨링 + 포장</div>
				    <div class="flow-desc">라벨러·포장기</div>
				    <select th:field="*{prcLbl}" class="flow-select" id="labelPackSelect">
				      <option value="" selected th:selected="${prcLbl == null}">선택</option>
				      <th:block th:each="worker : ${workers}">
	                  	<option th:value="${worker.empId}"
	                  			th:text="|${worker.empName} (${worker.posName})|"
	                  	></option>
	                  </th:block>
				    </select>
	                  <div class="invalid-feedback"
	                       data-error-for="prcLbl" style="display:none;">
	                      작업자를 선택해야 합니다.<br/>
	                      작업자가 중복될 수 없습니다.
	                  </div>
				  </div>
				</div>
				<div id="workerSuggestBox" class="mt-2 small text-muted suggest-box"></div>
	            
	            <!-- 비고 -->
	            <div class="mb-3">
	              <label class="form-label">비고</label>
	              <textarea th:field="*{remark}" class="form-control" rows="3" placeholder="특이사항, 주의사항 등을 입력하세요."
	              			style="resize: none;"
	              ></textarea>
	            </div>
	          </form>
          </div>
        </div>

        <!-- Footer -->
        <div class="yeoun-modal-footer">
          <div id="validationMessage" class="medium me-auto"></div>
          
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-yeoun-primary" id="btnCreateSubmit">
            <i class="bi bi-check2-circle"></i> 저장
          </button>
        </div>

      </div>
    </div>
  </div>

  <!-- =============================== 상세 모달 ================================= -->
  <div class="modal fade" id="workDetailModal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content yeoun-modal">

        <!-- HEADER -->
        <div class="yeoun-modal-header">
          <div class="modal-title-wrap">
            <h5 class="modal-title" id="detailModalTitle">작업지시 상세</h5>
          </div>
          <button class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- BODY -->
        <div class="yeoun-modal-body">

				<div class ="wo-detail">
			
				    <!-- ===== 1. 헤더 라인 ===== -->
				    <div class="wo-header">
				        <div class="wo-no">
				            <label>작업지시번호</label>
				            <div class="value strong" id="detailOrderId"></div>
				        </div>
				        <div class="wo-item">
				            <label>품목명</label>
				            <div class="value" id="detailPrdName"></div>
				        </div>
				        <div class="wo-qty">
				            <label>계획 수량</label>
				            <div class="value" id="detailPlanQty"></div>
				        </div>
				    </div>
				    
				    <!-- ===== 2. 생산일자/시간 ===== -->
				    <div class="wo-row">
				        <div class="wo-col">
				            <label>생산 일자</label>
				            <div class="value" id="detailPlanDate"></div>
				        </div>
				        <div class="wo-col">
				            <label>생산 시간</label>
				            <div class="value" id="detailPlanTime"></div>
				        </div>
				    </div>
				    
				    <!-- ===== 3. 라인 / 공정 ===== -->
				    <div class="wo-row">
				        <div class="wo-col">
				            <label>할당 라인</label>
				            <div class="value" id="detailLineName"></div>
				        </div>
				        <div class="wo-col">
				            <label>진행 공정</label>
				            <div class="value" id="detailRouteId"></div>
				        </div>
				    </div>
				    
				    <!-- ===== 4. 공정별 작업자 ===== -->
				    <div class="wo-process-group">
				        <label>담당 작업자</label>
				        
			            <div class="process-line">
					        <div class="dot"></div>
					        <div class="dot"></div>
					        <div class="dot"></div>
					        <div class="dot"></div>
					        <div class="dot"></div>
					        <div class="dot"></div>
					    </div>
				
				        <div class="process-boxes">
				            <div class="proc">
				                <span class="proc-title">블렌딩</span>
				                <select class="proc-value detail-select" id="PRC-BLD" disabled>
							      <option value="">선택</option>
							      <th:block th:each="worker : ${workers}">
				                  	<option th:value="${worker.empId}"
				                  			th:text="${worker.empName}"
				                  	></option>
				                  </th:block>
							    </select>
				            </div>
				            <div class="proc">
				                <span class="proc-title">여과</span>
				                <select class="proc-value detail-select" id="PRC-FLT" disabled>
							      <option value="">선택</option>
							      <th:block th:each="worker : ${workers}">
				                  	<option th:value="${worker.empId}"
				                  			th:text="${worker.empName}"
				                  	></option>
				                  </th:block>
							    </select>
				            </div>
				            <div class="proc">
				                <span class="proc-title">충전</span>
				                <select class="proc-value detail-select" id="PRC-FIL" disabled>
							      <option value="">선택</option>
							      <th:block th:each="worker : ${workers}">
				                  	<option th:value="${worker.empId}"
				                  			th:text="${worker.empName}"
				                  	></option>
				                  </th:block>
							    </select>
				            </div>
				            <div class="proc">
				                <span class="proc-title">조립 + 캠핑</span>
				                <select class="proc-value detail-select" id="PRC-CAP" disabled>
							      <option value="">선택</option>
							      <th:block th:each="worker : ${workers}">
				                  	<option th:value="${worker.empId}"
				                  			th:text="${worker.empName}"
				                  	></option>
				                  </th:block>
							    </select>
				            </div>
				            <div class="proc">
				            	<span class="proc-title">QC</span>
				            	<select class="proc-value detail-select" id="PRC-QC" disabled>
				            		<option value="">선택</option>
				            		<th:block th:each="worker : ${qcWorkers}">
					            		<option th:value="${worker.empId}"
					                  			th:text="${worker.empName}"
					                  	></option>
				            		</th:block>
				            	</select>
				            </div>
				            <div class="proc">
				                <span class="proc-title">라벨링 + 포장</span>
				                <select class="proc-value detail-select" id="PRC-LBL" disabled>
							      <option value="">선택</option>
							      <th:block th:each="worker : ${workers}">
				                  	<option th:value="${worker.empId}"
				                  			th:text="${worker.empName}"
				                  	></option>
				                  </th:block>
							    </select>
				            </div>
				        </div>
				    </div>
				    
				    <!-- ===== 5. 상태 ===== -->
          			<div class="mb-3 wo-status">
				        <label class="form-label">상태</label>
				        <div class="value state" id="detailStatus"></div>
				    </div>
				    
				    <!-- ===== 6. 비고 ===== -->
				    <div class="mb-3">
		              <label class="form-label">비고</label>
		              <textarea id="detailRemark"
		              			class="form-control" rows="3"
		              			style="resize: none;"
		              ></textarea>
		            </div>
				    
				    
		        <!-- FOOTER -->
		        <div class="yeoun-modal-footer">
		          <button id="btnReleased" class="btn">확정</button>
		          <button id="btnModify"   class="btn btn-warning">수정</button>
		          <button id="btnCanceled" class="btn btn-danger">취소</button>
		          <button class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
		        </div>
							
			</div>
         </div>

      </div>
    </div>

</div>
</th:block>

<th:block layout:fragment="myScript">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script th:if="${openCreateModal}">
    document.addEventListener("DOMContentLoaded", function () {
        const modalEl = document.getElementById('workCreateModal');
        const modal = new bootstrap.Modal(modalEl);
        modal.show();   // 검증 실패 시 자동으로 모달 다시 열기
    });
</script>
<script>

	let workOrderGrid = null;

  // 상태 뱃지 포맷
  function formatStatusBadge(status) {

    const map = {
      "CREATED":      { text: "준비",  cls: "status-badge bg-secondary" },
      "RELEASED":     { text: "확정",  cls: "status-badge bg-warning" },
      "IN_PROGRESS":  { text: "진행",  cls: "status-badge bg-primary" },
      "SCRAPPED":	  { text: "중단",  cls: "status-badge bg-dark"},
      "COMPLETED":    { text: "완료",  cls: "status-badge bg-success" },
      "CANCELED":     { text: "취소",  cls: "status-badge bg-danger" }
    };

    const item = map[status] || { text: status, cls: "status-badge" };

    return `<span class="${item.cls}">${item.text}</span>`;
  }

  // 생산 일정 포맷
  function formatDate(dt) {
    if (!dt) return "-";

    // dt = "2025-12-04T09:00:00"
    const d = new Date(dt);

    if (isNaN(d.getTime())) return dt; // 잘못된 날짜면 원본 그대로

    const yy = String(d.getFullYear()).substring(2);
    const mm = String(d.getMonth() + 1).padStart(2, "0");
    const dd = String(d.getDate()).padStart(2, "0");
    const hh = String(d.getHours()).padStart(2, "0");
    const mi = String(d.getMinutes()).padStart(2, "0");

    return `${yy}-${mm}-${dd} ${hh}:${mi}`;
  }
</script>
<script th:src="@{/js/order/list.js}"></script>
<script th:src="@{/js/order/create.js}"></script>
<script th:src="@{/js/order/detail.js}"></script>
</th:block>

</body>
</html>