<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layout.html}">
<head>
	<link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css">
	<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@toast-ui/calendar@2.1.3/dist/toastui-calendar.min.css" />
   	<link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
	<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/select-box/latest/toastui-select-box.css">
    
	<style type="text/css">
	.calendar-filter-company:checked, .calendar-filter-company[type=checkbox]:indeterminate {
		background-color: #FF5583;
	    border-color: #FF5583;
	    box-shadow: #FF5583;
	}
	.calendar-filter-personal:checked, .calendar-filter-personal[type=checkbox]:indeterminate {
		background-color: #ffbb3b;
	    border-color: #ffbb3b;
	    box-shadow: #ffbb3b;
	}
	.calendar-filter-depart:checked, .calendar-filter-depart[type=checkbox]:indeterminate {
		background-color: #00a9ff;
	    border-color: #00a9ff;
	    box-shadow: #00a9ff;
	}
	.calendar-filter-leave:checked, .calendar-filter-leave[type=checkbox]:indeterminate {
		background-color: #b7f3c4;
	    border-color: #b7f3c4;
	    box-shadow: #b7f3c4;
	}
	.tui-datepicker { 
		z-index: 2000 !important; 
	}
	.calendar-date-inner {
		position: relative; display: inline-block; 
	}
	#tui-datepicker {
		position: absolute;
		top: 100%; /* 트리거 영역 바로 아래에 붙임 /
		left: 50%; / 부모 기준 가운데로 /
		transform: translateX(-50%); / 정확히 중앙 정렬 /
		z-index: 3000; / 필요 시 더 키우기 */
	}​		
	.leave-tooltip {
	    position: absolute;
	    z-index: 9999;
	    background: #fff;
	    border: 1px solid #ccc;
	    border-radius: 6px;
	    padding: 8px 10px;
	    font-size: 12px;
	    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
	    max-width: 220px;
	    display: none;
	}
	.leave-tooltip__title {
	    font-weight: 600;
	    margin-bottom: 4px;
	}
	.leave-tooltip__list {
	    margin: 0;
	    padding-left: 16px;
	}
		
	#noticeGrid .tui-grid-cell.notice-cell {
		background-color: #008dff1a !important;
		font-weight: 600 !important;
	}
	
	.toastui-calendar-see-more {
		height: 200px;
	}
	
	.spinner-border {
	  display: inline-block;
	  width: 2rem;
	  height: 2rem;
	  vertical-align: -0.125em;
	  border: 0.25em solid currentColor;
	  border-right-color: transparent;
	  border-radius: 50%;
	  animation: spinner-border 0.75s linear infinite;
	}
	
	@keyframes spinner-border {
	  to { transform: rotate(360deg); }
	}
	
	.spinner-border.text-primary {
	  color: #0d6efd !important;
	}
	
    .tui-grid-body .combined-text {
        font-size: 14px;
        color: black;
    }
    .tui-grid-body .combined-text span {
        font-size: 8px;
        color: #666;
        margin-left: 6px;
    }
	</style>
	
</head>
<body>
<th:block layout:fragment="content">
	<input type="hidden" th:value="${currentUserId}" id="currentUserId">
	<input type="hidden" th:value="${currentUserName}" id="currentUserName">
	<!-- custom-body 시작 -->
	<div class="custom-body container-xxl flex-grow-1 container-p-y">
	<div th:if="${msg}" th:data-msg="${msg}" id="flashMsg" style="display:none;"></div>
	    <!-- custom-content -->
	    <div class="container mt-4">
	        <div class="row">
				<!-- 왼쪽 열: 달력/탭(View 변환) -->
	            <div class="col-md-7 col-lg-8" >
	                <section class="panel calendar">
	                    <div class="calendar-header d-flex align-items-center pb-2">
	                        <!-- 달력 타입변환 -->
	                        <div class="btn-group" role="group">
	                            <button type="button" class="btn btn-outline-secondary btn-sm " data-view="list" id="type-list">목록</button>
	                            <button type="button" class="btn btn-outline-secondary btn-sm active" data-view="month" id="type-month">월</button>
	                            <button type="button" class="btn btn-outline-secondary btn-sm " data-view="week" id="type-week">주</button>
	                            <button type="button" class="btn btn-outline-secondary btn-sm " data-view="day" id="type-day">일</button>
	                        </div>
	                        <!-- 달력날짜 -->
		                    <div class="calendar-date text-center item-center flex-grow-1">
		                    	<div class="calendar-date-inner">
			                    	<button class="btn-outline-primary mt-1" id="prevMonth" style="border: none;">◀</button>
			                    	<!-- 1. 데이트피커 -->
			                    	<span id="calendar-date"></span>
			                    	<button class="btn-outline-primary mt-1" id="nextMonth" style="border: none;">▶</button>
				                    <div id="tui-datepicker" ></div>
		                    	</div>
		                    </div>
			                <div class="mb-3 text-center" style="margin-left: -1px; z-index: 99;" >
			                </div>
							<!-- 3. 체크박스 필터 (하단) -->
			                <div class="filter-section d-flex gap-2 justify-content-end" style="display: flex; gap: 10px;">
			                    <div class="form-check">
			                        <input class="calendar-filter-company form-check-input calendar-filter" type="checkbox" value="company" id="filter-company" checked>
			                        <label class="form-check-label" for="filter-company">회사</label>
			                    </div>
			                    <div class="form-check">
			                        <input class="calendar-filter-depart form-check-input calendar-filter" type="checkbox" value="department" id="filter-department" checked>
			                        <label class="form-check-label" for="filter-department">공유</label>
			                    </div>
			                    <div class="form-check">
			                        <input class="calendar-filter-personal form-check-input calendar-filter" type="checkbox" value="personal" id="filter-personal" checked>
			                        <label class="form-check-label" for="filter-personal">개인</label>
			                    </div>
			                    <div class="form-check">
			                        <input class="calendar-filter-leave form-check-input calendar-filter" type="checkbox" value="leave" id="filter-leaves" checked>
			                        <label class="form-check-label" for="filter-leaves">연차</label>
			                    </div>
			                    <div class="form-check">
				                    <button class="btn btn-outline-primary btn-xs" id="open-add-schedule-modal-btn">
				                       + 
				                    </button>
			                    </div>
			                    
			                </div>
	                    </div>
	                    <!-- 실제 TUI 캘린더 출력 -->
	                    <div id="mainContent"> 
		                    <div id="calendar" style="height: 700px; border: 2px solid #D9DEE3;"></div>
	                    </div>
                   		<!-- 스피너 -->
						<div id="calendar-loading-overlay" style="display:none; 
						    position:absolute; top:0; left:0; width:100%; height:100%; 
						    background:rgba(255,255,255,0.6); 
						    z-index:99; text-align:center; display:flex; 
						    align-items:center; justify-content:center;">
							<div style="margin-top:30vh;">
								<div class="spinner-border text-primary" role="status">
								</div>
								<br>
								<span class="visually">데이터 불러오는 중...</span>
							</div>
						</div>
	                </section>
	            </div>
	            
	            <!-- 오른쪽 열: 일정추가/데이트피커/필터 (세로 3구간) -->
	            <div class="col-md-5 col-lg-4 d-flex flex-column " style="position: relative !important">
	            	<div style="height: 60px; flex-shrink: 0; display: flex; align-items: center; gap: 10px; left: 15px; right: 15px;">

	            		<button class="btn btn-primary"
	            			onclick="handleAttendanceToggle(this.dataset.empId)" 
	            			id="attendance" 
	            			style="width:50%"
	            			th:attr="data-emp-id=${#authentication.name},
                 					 disabled=${buttonEnabled} ? null : 'disabled'">
	            				<span th:if="${status == 'WORKIN' or status == 'LATE'}">퇴근</span>
	            				<span th:unless="${status == 'WORKIN' or status == 'LATE'}">출근</span>
	            		</button>

	            		<button class="btn btn-primary" th:attr="data-emp-id=${#authentication.name}" onclick="handleAttendanceToggle(this.dataset.empId)" id="accessBtn" style="width:50%">출입</button>

	            	</div>
					<div class="card">
						<div>
							<h3 style="font-size:18px; font-weight:700; text-align: center;">공지사항 목록</h3>
						</div>
						<div class="table-responsive text-nowrap" id="noticeGrid"></div>
							<p style="font-size:10px; text-align: right; vertical-align: bottom;">
							<a href="/notice">더보기</a>
							</p>
					</div>
					<div class="card">
						<div>
							<h3 style="font-size:18px; font-weight:700; text-align: center;">결재 문서 목록</h3>
						</div>
						<div class="table-responsive text-nowrap" id="approvalGrid"></div>
							<p style="font-size:10px; text-align: right; vertical-align: bottom;">
							<a href="/approval/approval_doc">더보기</a>
							</p>
					</div>

	            </div>
	        </div>
	    </div>
	    <!-- /customcontent -->
	    
	</div>
	<!-- /custom-body 끝 -->
	
	
	<!-- 연차툴팁 -->
	<div id="leave_tooltip" class="leave-tooltip" style="background-color: white; border:black solid; padding:10px; z-index: 99; display: none;"></div>

	<!-- 모달창 삽입 -->
	<th:block th:insert="~{main/schedule_modal}"></th:block>
	<th:block th:insert="~{notice/notice_modal}"></th:block>
	
	<!-- 결재모달 -->
		<div class="modal fade" id="approval-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
		    <form class="modal-content" id="modal-doc" th:action="@{/approval/approval_doc}" method="POST" enctype="multipart/form-data">
		      <div class="modal-header" data-draggable="true">
				<h3 class="modal-title" id="Drafting">모달 타이틀</h3>
<!-- 				<input type="text" id="Drafting" name="drafting" value=""> -->
		        <!--<p class="modal-title" id="Drafting" name="drafting" style="font-size: 50px;">기안서 작성</p>-->
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		        <h5 class="d-flex">
					<label>문서 날짜 : </label>
					<p id="today-date"></p>
				</h5>
		        <h5 class="d-flex">
					<label class="p-1" style="width: 200px;"> 문서 제목 </label> 	                 
		        	<input id="approval-title" class="form-control" type="text" name="approvalTitle" placeholder="문서제목" style="width:800px;height: 38.94px;">
				</h5>
		        <h5 class="d-flex">
					<label class="p-1" style="width: 200px;">양식 종류 </label> 
		        	<div class="mb-6 mb-0" style="width: 344px;">
		            	<select id="form-menu" class="form-select" onchange="draftValFn(this)">
		            		<option selected>기안서</option>
		            		<option th:each="item, iterStat : ${formTypes}" 
							 		th:value="${item.formName}" 
							 		th:text="${iterStat.index+1} + ' : ' + ${item.formName}"
									th:data-formname="${item.formName}"
									name="draft">		
							</option>
		            	</select>
	            	</div>
		        </h5>
<!-- 		        <h5 class="d-flex"> -->
<!-- 					<label class="p-1" style="width: 200px;">결재자명(기안자)</label>  -->
<!-- 		        	<div class="mb-6 mb-0" style="width: 344px;"> -->
<!-- 		        		<p id="approver-name" name="empId" th:text="|${#authentication.principal.empName} (${#authentication.principal.empId})|"></p>  -->
<!-- 	            	</div> -->
<!-- 		        </h5> -->
		        <h5 class="d-flex">
					<label class="p-1" style="width: 200px;">결재완료기간</label>
		        	<div class="row flex-nowrap">
						<div class="mb-6 col-lg-5 col-xl-7 col-12 mb-0" style="width: 180px;">
							<input type="date" name="createdDate" id="create-date" class="form-control">
						</div>
		                ~
		                <div class="mb-6 col-lg-5 col-xl-7 col-12 mb-0" style="width: 180px;">
			                <input type="date" name="finishDate"  id="finish-date" class="form-control">
		                </div>
					</div>
		        </h5>
				
		        <h5 id="leavePeriodForm" style="display:none;">
					<label class="p-1" style="width: 200px;">휴가기간</label>
		        	<div class="row flex-nowrap">
						<div class="mb-6 col-lg-5 col-xl-7 col-12 mb-0" style="width: 180px;">
							<input type="date" name="startDate"  id="start-date" class="form-control">
						</div>
		                ~
		                <div class="mb-6 col-lg-5 col-xl-7 col-12 mb-0" style="width: 180px;">
			                <input type="date" name="endDate"  id="end-date" class="form-control">
		                </div>
					</div>
		        </h5>
			
		       	<h5 id="leaveTypeForm" style="display: none;">
					<label class="p-1" style="width: 200px;">휴가종류</label><!---휴가(연차)신청서-->
		        	<div class="mb-6 mb-0" style="width: 344px;">
		           		<select id="leave-type" name="leaveType" class="form-select">
		            		<option selected></option>
		            		<option value="연차">연차</option>
		            		<option value="1차대기">연차</option>
							<option value="오전반차">오전반차</option>
							<option value="오후반차">오후반차</option>
							<option value="병가">병가</option>
							<option value="공가">공가</option>
							<option value="연차유급휴가">연차유급휴가</option>
							<option value="출산전후휴가">출산전후휴가</option>
							<option value="배우자출산휴가">배우자출산휴가</option>
							<option value="생리휴가">생리휴가</option>
							<option value="가족돌봄휴가">가족돌봄휴가</option>
							<option value="경조사휴가">경조사휴가</option>
							<option value="여름휴가">여름휴가</option>
							<option value="개인사정">개인사정</option>
							<option value="기타">기타</option>
		            	</select>
	            	</div>
		        </h5>
		        <h5 id="toDeptForm" style="display: none;">
					<label class="p-1" style="width: 200px;">발령부서</label><!--- 인사발령신청서-->
		        	<div class="mb-6 mb-0" style="width: 344px;">
		            	<select id="to-dept-id" name="toDeptId" class="form-select" >
		            		<option selected>부서</option>
							<option th:each="item, iterStat : ${deptList}" 
							 		th:value="${item.deptId}" 
							 		th:text="${iterStat.index+1} + ' : ' + ${item.deptName} + '(' + ${item.deptId} + ')'">
							 </option>
		            	</select>
	            	</div>
		        </h5>
		        <h5 id="expndTypeForm" style="display:none;">
					<label class="p-1"  style="width: 200px;">지출종류 </label><!-- 지출결의서-->
		        	<div class="mb-6 mb-0" style="width: 344px;">
		            	<select id="expnd-type" name="expndType" class="form-select" >
		            		<option selected>지출종류</option>
		            		<option name="expense" value="고정지출">고정지출</option>
							<option name="expense" value="변동지출">변동지출</option>
							<option name="expense" value="비정기지출">비정기지출</option>
		            	</select>
	            	</div>
		        </h5>
		        <h5>
					<label class="p-1" style="width: 200px;">사유내용</label>
		        	<textarea id="reason-write" class="form-control" name="reason" rows="10" placeholder="결재사유내용 작성"></textarea>
		        </h5>
		        <!--<h5 class="d-flex">결재권한자 변경:
		        	<input class="form-check-input" type="checkbox" id="opt-in">
		        
		        </h5>-->
		        <h5 class="d-flex">
					<label>결재권한자 : </label> 
		          	<div id="select-box" style="width: 200px"></div>
		        </h5>
     				<div id="approver" th:value="${empList}"  style="display: flex; margin: 5px; border-radius: 3%; font-weight: 600;">
					<!-- 결재권한자 버튼 생성 영역 -->
     				</div>	
     				
     				<!-- 전결자 클릭시 추가 태그 -->
			      	<div id="jeongyeolja" style="display:none;border:1px solid red;border-radius: 6px;padding: 12px;">
			      	
						<div id="jeongyeolja-content">
						  <label class="form-check-label" for="radioDefault1">
						    없음 
						  </label>
						  <input class="form-check-input" type="radio" name="radioJeongyeolja" value="N" checked>
						  <label class="form-check-label" for="radioDefault1">
						    전결  
						  </label>
						  <input class="form-check-input" type="radio" name="radioJeongyeolja" value="전결">
						  <label class="form-check-label" for="radioDefault2">
						    대결  
						  </label>
						  <input class="form-check-input" type="radio" name="radioJeongyeolja" value="대결">
						  <label class="form-check-label" for="radioDefault2">
						    선결  
						  </label>
						  <input class="form-check-input" type="radio" name="radioJeongyeolja" value="선결">
						  <div>
						 	<h5>전결자 지정 </h5>
							<select id="emp_id" name="delegetedApprover" class="form-select" aria-label="Default select example">
							  <option selected></option>
							  <option th:each="item, iterStat : ${empList}" 
							 			th:value="${item.empId}" 
							 			th:text="${iterStat.index+1} + ' : ' + ${item.empName} + '(' + ${item.empId} + ')'">
							 </option> 
							</select>
						  </div>
						</div>
					</div>
	     				<!--에디터-->
		        <!--  <div id="editor" style="border: 1px solid black;;"></div> -->
		      </div>
		      <div class="modal-footer">
		      	<div>
			     	<button type="button" id="attachmentBtn" class="btn btn-primary" style="display: none;">첨부파일</button>
			     	<button type="button" id="approvalCompanionBtn" class="btn btn-primary" >반려</button>
			      	<button type="button" id="approvalCheckBtn" class="btn btn-primary" >결재확인</button>
			    </div>
		      	<hr>
		      	<button type="button" id="printBtn" class="btn btn-primary" style="display: none;">인쇄</button>
		        <button type="submit" id="saveBtn" class="btn btn-primary">등록</button>
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
		      </div>
		</form>
	    </div>
	</div>
	
	
	<!-- 타임피커 -->
	<script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
	<!-- 데이트피커 -->
	<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
	<!-- 캘린더 -->
	<script src="https://cdn.jsdelivr.net/npm/@toast-ui/calendar@2.1.3/dist/toastui-calendar.min.js"></script>
	<!-- 그리드 -->
	<script src="https://uicdn.toast.com/tui.code-snippet/v1.5.0/tui-code-snippet.js"></script>
	<script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
	<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
	<script src="https://uicdn.toast.com/select-box/latest/toastui-select-box.js"></script>
	
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	
	<script src="/js/main/schedule.js"></script>
	<script src="/js/attendance/attendance.js"></script>
	<script th:inline="javascript">
	    const userRoles = /*[[${#authentication.authorities.?[true].![authority]}]]*/ [];
	</script>
	
	<script>
	  document.addEventListener("DOMContentLoaded", () => {
	      const el = document.getElementById("flashMsg");
	      if (el) {
	          alert(el.dataset.msg);
	      }
	  });
	</script>
	
</th:block>

</body>
