<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layout.html}">
<head>
<link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />

<script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

</head>
<style>



.status-complete {
    background-color: #e8f5e9 !important; /* 연한 녹색 배경 */
    color: #2e7d32 !important;            /* 진한 녹색 글씨 */
    font-weight: bold;
}
.status-pending {
    background-color: #ffe0b2 !important; /* 연한 주황색 배경 */
    color: #ef6c00 !important;            /* 진한 주황색 글씨 */
}
.highlight-prd {
    /* 배경색과 글자색을 눈에 띄게 설정 */
    background-color: #fce4ec !important; /* 연한 핑크 */
    color: #c2185b !important;           /* 진한 자주색 */
    font-weight: bold;
}

</style>
<body>
<th:block layout:fragment="content">
	<div class="custom-body container-xxl flex-grow-1 container-p-y">
		<h2>완제품/원재료 정보</h2>
		<div class="nav-align-top mb-4">
	         <ul class="nav nav-tabs" role="tablist">
	           <li class="nav-item">
	             <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-product-tab" aria-controls="navs-product-tab" aria-selected="true">
	               완제품
	             </button>
	           </li>
	           <li class="nav-item">
	             <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-material-tab" aria-controls="navs-material-tab" aria-selected="false">
	               원재료
	             </button>
	           </li>
	         </ul>
	         <div class="tab-content" >
	           <div class="tab-pane fade show active"  id="navs-product-tab" role="tabpanel">
	             <h5 class="card-title mb-0">완제품</h5>
	             <div class="d-flex justify-content-end" style="margin:10px;">
			  		<button id="addProductRowBtn" class="btn btn-primary" type="button" style="margin-right:5px;">추가</button>
					<button id="saveProductRowBtn" class="btn btn-success" type="button" style="margin-right:5px;">저장</button>
			  		<button id="deleteProductRowBtn" class="btn btn-danger" type="button">삭제</button>
				 </div>
				 <div id="productGrid" style="display: grid;margin-right:5px;"></div>
				</div>
	           <div class="tab-pane fade" id="navs-material-tab" role="tabpanel">
	             <h5 class="card-title mb-0">원재료</h5>
	             <div class="d-flex justify-content-end" style="margin:10px;">
			  		<button id="addMaterialRowBtn" class="btn btn-primary" type="button" data-preset="striped" style="margin-right:5px;">추가</button>
					<button id="saveMaterialRowBtn" class="btn btn-success" type="button" style="margin-right:5px;">저장</button>
			  		<button id="deleteMaterialRowBtn" class="btn btn-danger" type="button">삭제</button>
				 </div>
				 <div id="materialGrid" style="display: grid;margin-right:5px;"></div>
	           </div>
	         </div>
       	</div>
</th:block>
</body>
<th:block layout:fragment="myScript"> 
		<script th:inline="javascript" th:src="@{/js/masterData/product.js}"></script>
</th:block>