<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layout.html}">
<head>
<link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />

<script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

</head>
<body>
<th:block layout:fragment="content">
	<div class="custom-body container-xxl flex-grow-1 container-p-y">
		<h2>완제품/원재료 정보</h2>
		<div class="nav-align-top mb-4">
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item">
					<button type="button" class="nav-link active" data-grid-type="PROD">
						완제품
					</button>
				</li>
				<li class="nav-item">
					<button type="button" class="nav-link" data-grid-type="MAT">
						원재료
					</button>
				</li>
			</ul>
			<div class="card mt-3">
				<div id="navs-product-tab">
					<h5 class="card-title mb-0" id="gridTitle">완제품</h5>
					<div class="d-flex justify-content-end" style="margin:10px;">
						<button id="addRowBtn" class="btn btn-primary" type="button" style="margin-right:5px;">추가</button>
						<button id="deleteRowBtn" class="btn btn-danger" type="button">삭제</button>
						<button id="saveRowBtn" class="btn btn-success" type="button" style="margin-right:5px;">저장</button>
					</div>
					<div id="grid" style="display: grid;margin-right:5px;"></div>
				</div>
<!-- 				<div class="tab-pane fade" id="navs-material-tab" role="tabpanel"> -->
<!-- 					<h5 class="card-title mb-0">원재료</h5> -->
<!-- 					<div class="d-flex justify-content-end" style="margin:10px;"> -->
<!-- 						<button id="addMaterialRowBtn" class="btn btn-primary" type="button" data-preset="striped" style="margin-right:5px;">추가</button> -->
<!-- 						<button id="saveMaterialRowBtn" class="btn btn-success" type="button" style="margin-right:5px;">저장</button> -->
<!-- 						<button id="deleteMaterialRowBtn" class="btn btn-danger" type="button">삭제</button> -->
<!-- 					</div> -->
<!-- 					<div id="materialGrid" style="display: grid;margin-right:5px;"></div> -->
<!-- 				</div> -->
			</div>
   		</div>
	</div>
</th:block>
</body>
<th:block layout:fragment="myScript"> 
		<script th:src="@{/js/masterData/gridCustomRenderers.js}"></script>
		<script th:inline="javascript" th:src="@{/js/masterData/product.js}"></script>
</th:block>