<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layout.html}">
<head>
</head>
<body>
<th:block layout:fragment="content">
	<div class="custom-body container-xxl flex-grow-1 container-p-y">
		<h2>Setting</h2>
		   <div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					테마변경
				</button>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<li><a class="dropdown-item" th:id="light-btn" th:href="@{#}" href="#">light mode</a></li>
					<li><a class="dropdown-item" th:id="dark-btn" th:href="@{#}" href="#">dark mode</a></li>
					<li><a class="dropdown-item" th:id="green-btn" th:href="@{#}" href="#">green mode</a></li>
				</ul>
			</div>
	</div>
</th:block>
</body>
<th:block layout:fragment="myScript">
</th:block>
