<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:fragment="inventory_modal">

<!-- Disposal Modal -->
<div class="modal fade" id="disposalModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">재고 폐기</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-2">
                	<div class="col mb-3">
	                	<label for="ivQtyDisposal" class="form-label">현재수량</label>
	                	<input type="text" id="ivQtyDisposal" class="form-control" readonly>
                	</div>
                	<div class="col mb-3">
	                	<label for="exPectObQtyDisposal" class="form-label">출고예정수량</label>
	                	<input type="text" id="exPectObQtyDisposal" class="form-control" readonly>
                	</div>
                	<div class="col mb-3">
	                	<label for="canDisposalAmount" class="form-label">폐기가능수량</label>
	                	<input type="text" id="canDisposalAmount" class="form-control" readonly>
                	</div>
                </div>
                <div class="mb-3">
                    <label for="disposalQty" class="form-label">폐기 수량</label>
                    <input type="number" id="disposalQty" class="form-control" placeholder="0">
                </div>
                <div class="mb-3">
                    <label for="disposalReason" class="form-label">사유</label>
                    <textarea id="disposalReason" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="disposalBtn">폐기 처리</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/inventory/inventoryDisposal.js}"></script>
