<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layout.html}">
<head>
<link rel="stylesheet" th:href="@{https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css}" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
</head>
<body>
	<div class="custom-body container-xxl flex-grow-1 container-p-y" layout:fragment="content">
		<h3>연차 현황</h3>
		<div class="row mx-0 px-lg-12 gy-6">
			<div class="col-xl mb-md-0 px-3 card border rounded shadow-none">
				<div class="mt-3 mb-3 text-center">
					<h5 class="card-title text-center text-capitalize mb-1">총 연차</h5>
				</div>
				<div class="d-flex justify-content-center mb-3">
					<h4 th:text="|${leaveDTO.totalDays} 일|"></h4>
				</div>
			</div>
			<div class="col-xl mb-md-0 px-3 ms-2 card border rounded shadow-none">
				<div class="mt-3 mb-3 text-center">
					<h5 class="card-title text-center text-capitalize mb-1">사용 연차</h5>
				</div>
				<div class="d-flex justify-content-center mb-3">
					<h4 th:text="|${leaveDTO.usedDays} 일|"></h4>
				</div>
			</div>
			<div class="col-xl mb-md-0 px-3 ms-2 card border rounded shadow-none">
				<div class="mt-3 mb-3 text-center">
					<h5 class="card-title text-center text-capitalize mb-1">잔여 연차</h5>
				</div>
				<div class="d-flex justify-content-center mb-3">
					<h4 th:text="|${leaveDTO.remainDays} 일|"></h4>
				</div>
			</div>
<!-- 			<div class="col-xl mb-md-0 px-3 ms-2 card border rounded shadow-none"> -->
<!-- 				<div class="mt-3 mb-3 text-center"> -->
<!-- 					<h5 class="card-title text-center text-capitalize mb-1">연차 수당 추계액</h5> -->
<!-- 				</div> -->
<!-- 				<div class="d-flex justify-content-center mb-3"> -->
<!-- 					<h4 th:text="|${#numbers.formatInteger(leaveDTO.leaveAllowanceAmount, 3, 'COMMA')} 원|"></h4> -->
<!-- 				</div> -->
<!-- 			</div> -->
		</div>
		<div class="card mt-4">
			<div class="table-responsive text-nowrap">
				<div id="grid"></div>
			</div>
		</div>
		<div class="modal fade" id="modalCenter" tabindex="-1" style="display: none;" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalCenterTitle">연차수정</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form>
							<div class="col mb-6">
								<label for="currentLeave" class="form-label">현재 보유 연차</label>
								<input type="text" id="currentLeave" class="form-control mb-2" value="15" readonly/>
							</div>
							<div class="col mb-6">
								<label class="form-label">증감유형</label>
								<div class="d-flex">
									<div class="form-check mb-2">
										<input type="radio" id="increase" name="changeType" class="form-check-input" required/>
										<label class="form-check-label" for="increase">증가</label>
									</div>
									<div class="form-check ms-3" >
										<input type="radio" id="decrease" name="changeType" class="form-check-input"/>
										<label class="form-check-label" for="decrease">감소</label>
									</div>
								</div>
							</div>
							<div class="col mb-6">
								<label for="changeDays" class="form-label">변경일수</label>
								<input type="number" id="changeDays" min="0" class="form-control" required/>
							</div>
							<div class="col mb-6">
								<label for="reason" class="form-label">사유</label>
								<input type="text" id="reason" class="form-control" required/>
							</div>
							<div class="modal-footer mt-3 p-0">
								<button class="btn btn-warning">수정</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block layout:fragment="myScript">
		<script>
			const message = "[[${message}]]";
			
			if (message) {
				alert(message);
			}
		</script>
		<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
		<script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
		<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
		<script th:src="@{/js/leave/leaveGrid.js}"></script>
	</th:block>
</body>
</th:block>