<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layout.html}">
	
	<body>
		<div class="custom-body container-xxl flex-grow-1 container-p-y" layout:fragment="content">
			<!-- 스피너 -->
		   	<div id="loading-overlay" style="display:none; 
			    position:absolute; top:0; left:0; width:100%; height:100%; 
			    background:rgba(255,255,255,0.6); 
			    z-index:99; text-align:center; display:flex; 
			    align-items:center; justify-content:center;">
				<div style="margin-top:30vh;">
					<div class="spinner-border text-primary" role="status">
					</div>
					<br>
					<span class="visually">데이터 불러오는 중...</span>
				</div>
			</div>
			<button class="btn btn-outline-primary mb-3" onclick="history.back()">← 목록으로</button>
			<div class="d-flex justify-content-between align-items-center mb-4">
				<h2>출고 상세 정보</h2>
				<th:block th:if="${outboundOrderDTO.status == 'WAITING'}">
					<button class="btn btn-primary" id="completeOutboundBtn">출고 완료</button>
				</th:block>
			</div>
			<div class="card p-4 mb-5">
				<div class="card-body">
					 <div class="row row-cols-3 g-4">
					 	<input type="hidden" id="outboundId" th:value="${outboundOrderDTO.outboundId}"/>
					 	<input type="hidden" id="workOrderId" th:value="${outboundOrderDTO.workOrderId}"/>
						<div class="col">
						    <div class="text-secondary mb-1">출고번호</div>
						    <div class="fw-semibold" th:text="${outboundOrderDTO.outboundId}"></div>
						</div>
						<div class="col">
						    <div class="text-secondary mb-1">요청자</div>
						    <div class="fw-semibold" th:text="${outboundOrderDTO.createdName}"></div>
						</div>
						<div class="col">
						    <div class="text-secondary mb-1">담당자</div>
						    <div class="fw-semibold" th:text="${outboundOrderDTO.processEmpName}"></div>
						</div>
						<div class="col">
						    <div class="text-secondary mb-1">작업지시서</div>
						    <div class="d-flex">
						    	<div class="fw-semibold" style="margin-right:3px !important;" th:text="${outboundOrderDTO.workOrderId}"></div>
	   							<i class="fa-regular fa-window-restore"  style="cursor:pointer;"  
									th:attr="data-prod-id=${outboundOrderDTO.workOrderId}"
									onclick="openDetailOrderWindow(this.dataset.prodId)"></i>
						    </div>
						</div>
						<div class="col">
						    <div class="text-secondary mb-1">출고예정일</div>
						    <div class="fw-semibold" th:text="${#temporals.format(outboundOrderDTO.startDate, 'yyyy-MM-dd')}"></div>
						</div>
						<div class="col">
							<div class="text-secondary mb-1">상태</div>
							<div>
							    <span th:if="${outboundOrderDTO.status == 'WAITING'}" class="badge bg-warning text-dark">출고대기</span>
							    <span th:if="${outboundOrderDTO.status == 'COMPLETED'}" class="badge bg-success">출고완료</span>
							    <span th:if="${outboundOrderDTO.status == 'CANCELED'}" class="badge bg-warning ">출고취소</span>
							</div>
						</div>
					 </div>
				</div>
			</div>
			<div>
			<div class="card mb-5">
				<div class="card-header">
					<h5 class="mb-0">출고 품목 목록</h5>
				</div>
				<div class="card-body p-0">
					<div class="table-responsive">
						<input type="hidden" id="outboundId" th:value="${outboundOrderDTO.outboundId}">
						<table class="table table-bordered table-hover mb-0 text-center">
							<thead class="table-light">
								<tr class="text-center">
									<th>원재료코드</th>
									<th>원재료명</th>
									<th>필요수량</th>
									<th>출고수량</th>
									<th>창고위치</th>
									<th>LOT번호</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item, iterStat : ${outboundOrderDTO.items}">
									<td th:text="${item.matId}" class="matId"></td>
									<td th:text="${item.matName}"></td>
									<td th:text="${#numbers.formatDecimal(item.orderqQty * item.matQty, 0, 0)}"></td>
									<td th:text="${item.outboundQty}" th:attr="data-index=${iterStat.index}" class="outboundQty"></td>
									<td th:text="${item.locationId}" class="locationId" th:attr="data-index=${iterStat.index}"></td>
									<td th:text="${item.lotNo}" class="lotNo"></td>
									<input type="hidden" class="ivId" th:value="${item.ivId}">
								</tr>
							</tbody>
						</table>
					</div>
				
				</div>
			</div>
			</div>
		</div>
		<th:block layout:fragment="myScript">
			<script src="https://kit.fontawesome.com/a96e186b03.js" crossorigin="anonymous"></script>
			<script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
			<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
			<script src="/js/inventory/util.js"></script>
			<script src="/js/outbound/materialGrid.js"></script>
			<script src="/js/outbound/materialItem.js"></script>
		</th:block>
	</body>
</th:block>