<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layout.html}">
<head>
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
</head>
<body>
	<div class="custom-body container-xxl flex-grow-1 container-p-y" layout:fragment="content">
		<h3>근무 정책 관리</h3>
		<div class="card-body">
			<form th:action="@{/attendance/policy}" th:object="${workPolicyDTO}" method="post" class="browser-default-validation w-75 mx-auto" id="policyForm">
				<div class="mb-6">
					<label class="h5" for="inTime">출근 기준 시간</label>
					<input type="time" class="form-control" id="inTime" th:field="*{inTime}" required/>
				</div>
				<div class="mb-6">
					<label class="h5 mt-3" for="outTime">퇴근 기준 시간</label>
					<input type="time" class="form-control" id="outTime" th:field="*{outTime}" required/>
					<div th:if="${#fields.hasErrors('validTimeRange')}" th:errors="*{validTimeRange}" class="text-danger"></div>
				</div>
				<div class="mb-6">
					<label class="h5 mt-3" for="lunchIn">점심 시작 시간</label>
					<input type="time" class="form-control" id="lunchIn" th:field="*{lunchIn}" required/>
				</div>
				<div class="mb-6">
					<label class="h5 mt-3" for="lunchOut">점심 종료 시간</label>
					<input type="time" class="form-control" id="lunchOut" th:field="*{lunchOut}" required/>
					<div th:if="${#fields.hasErrors('validLunchTimeRange')}" th:errors="*{validLunchTimeRange}" class="text-danger"></div>
				</div>
				<div class="mb-6">
					<label class="h5 mt-3" for="lateLimit">지각 유예 시간(분)</label>
					<input type="number" class="form-control" id="lateLimit" th:field="*{lateLimit}" min="0" max="60"  required/>
				</div>
				<div class="mb-6">
					<label class="h5 mt-3">연차 기준 설정</label>
					<div class="d-flex">
						<div class="form-check mb-2 ms-3" th:each="commonCode, stat : ${commonCodeDTO}">
							<input type="radio" th:id="'fiscalYear_' + ${stat.index}" th:field="${workPolicyDTO.annualBasis}" class="form-check-input" th:value="${commonCode.codeId}" />
							<label class="form-check-label" th:for="'fiscalYear_' + ${stat.index}"  th:text="${commonCode.codeName}"></label>
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-end">
					<button type="submit" class="btn btn-primary">저장</button>
				</div>
			</form>
			<div id="grid"></div>
		</div>
	</div>
	<th:block layout:fragment="myScript">
		<script>
			const message = "[[${msg}]]";
			
			if (message) {
				console.log(message);
				alert(message);
			}
			
			document.querySelector("#policyForm").addEventListener("submit", (e) => {
				const inTime = document.querySelector("#inTime").value;
				const outTime = document.querySelector("#outTime").value;
				const lunchIn = document.querySelector("#lunchIn").value;
				const lunchOut = document.querySelector("#lunchOut").value;
				
				// 출근 / 퇴근 시간 검증
				if (outTime <= inTime) {
					alert("퇴근 시간은 출근 시간보다 늦어야 합니다.");
					e.preventDefault();
					return false;
				}
				
				// 점심 시작 시간 /종료 시간 검증
				if (lunchOut <= lunchIn) {
					alert("점심 종료 시간은 시작 시간보다 늦어야 합니다.");
					e.preventDefault();
					return false;
				}
			});
		</script>
	</th:block>
</body>
</th:block>