<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:fragment="footer">
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , yeoun ❤️ by 
                </div>
              </div>
             <!--  <div class="dropdown" style="display:block;float:right;">
					 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					    테마변경
					 </button>
					 <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					   <li><a class="dropdown-item" th:id="light-btn" th:href="@{#}" href="#">light mode</a></li>
					   <li><a class="dropdown-item" th:id="dark-btn" th:href="@{#}" href="#">dark mode</a></li>
					   <li><a class="dropdown-item" th:id="green-btn" th:href="@{#}" href="#">green mode</a></li>
					 </ul>
				   </div> -->
            </footer>
</th:block>