<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:fragment="nav">
	<head>
		
	</head>
		<nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <!-- 모바일 메뉴 토글 버튼 -->
			    <a href="javascript:void(0);" class="nav-link layout-menu-toggle d-xl-none">
			        <i class="bx bx-menu bx-sm"></i>
			    </a>
              <ul class="navbar-nav flex-row align-items-center ms-auto dropdown">
<!--               	<li class="nav-item lh-1 me-3"> -->
<!--               		<i class="icon-base bx bx-folder icon" data-bs-toggle="dropdown" id="payment"></i>  -->
<!--               		<span id="badge_payment"></span> -->
<!-- 				    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> -->
<!-- 					  <li><a class="dropdown-item" href="#">Action</a></li> -->
<!-- 					  <li><a class="dropdown-item" href="#">Another action</a></li> -->
<!-- 					  <li><a class="dropdown-item" href="#">Something else here</a></li> -->
<!-- 					  <li><hr class="dropdown-divider"></li> -->
<!-- 					  <li><a class="dropdown-item" href="#">Separated link</a></li> -->
<!-- 					</ul> -->
<!--                 </li> -->
              	<li class="nav-item lh-1 me-3"> 
              		<div class="bell-wrapper">
		              	<i class="icon-base bx bx-bell icon" data-bs-toggle="dropdown" id="bell"></i>
<!-- 		              	<span id="badge_bell" >●</span> -->
		                <ul class="dropdown-menu" >
						  <li><a class="dropdown-item alarm-list" href="/alarm" id="alarmList">
						  	알림
						  	<span class="alarm-new-badge" style="display:none;">NEW</span>
						  </a></li>
						  <li>
						  	<a class="dropdown-item" th:href="@{/notice}">공지사항</a>
						  </li>
<!-- 						  <li><hr class="dropdown-divider"></li> -->
<!-- 						  <li><a class="dropdown-item" href="#">집중</a></li> -->
						</ul>
              		</div>
                </li>
              	<li class="nav-item lh-1 me-3">
              		<i class="icon-base bx bx-chat icon" data-bs-toggle="dropdown" id="chat"></i>
					<span id="badge_chat" class="has-alert"></span>
                   <!--<ul class="dropdown-menu">
					  <li><a class="dropdown-item" href="#">점심시간입니다.</a></li>
					  <li><a class="dropdown-item" href="#">퇴근 시간입니다.</a></li>
					  <li><a class="dropdown-item" href="#">무슨 커피드실래요</a></li>
					  <li><hr class="dropdown-divider"></li>
					  <li><a class="dropdown-item" href="#">헤이즐럿라떼요</a></li>
					</ul>-->
                </li>
                
				<!-- 로그인한 경우에만 프로필 드롭다운 보이게 -->
				<li class="nav-item dropdown lh-1 me-3" sec:authorize="isAuthenticated()">
					<a class="nav-link dropdown-toggle nav-font-size d-flex align-items-center" href="#"
				       id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				    	<span class="me-1" sec:authentication="principal.empName"></span>
				    	(<span sec:authentication="principal.empId"></span>)
				  	</a>
				  	
				  	<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
				  		<!-- 내 정보 수정: 여기서 바로 페이지로 이동 -->
					 	<li>
					 		<a class="dropdown-item" th:href="@{/my/info/edit}">내 정보 관리</a>
			 			</li>
				  		<!-- 비밀번호 변경 -->
				  		<li>
				  			<a class="dropdown-item" th:href="@{/my/password}">비밀번호 변경</a>
		  				</li>
				  		<li>
				  			<hr class="dropdown-divider">
			  			</li>
				  		<!-- 로그아웃 -->
				  		<li>
				    		<a class="dropdown-item logout-link" href="#">로그아웃</a>
				  		</li>
					</ul>
				</li>
				<!-- 로그인 안 한 경우에는 그냥 login 링크만 -->
				<li class="nav-item lh-1 me-3" sec:authorize="!isAuthenticated()">
				  <a class="nav-font-size" id="login-link" th:href="@{/login}">login</a>
				</li>
				<!-- 프로필 드롭다운 끝 -->

              </ul>
            </div>
          </nav>
		
		<form th:action="@{/logout}" method="post" id="hiddenLogoutForm" style="display:none">
		  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
		</form>
		
		<!-- 상단바 (내 정보, 개인정보 수정, 로그아웃) -->
		<script src="/js/auth/myInfo.js"></script>
		
		  <script>
			//Resources
		  
//          	const payment = document.getElementById("payment");
      		const chat = document.getElementById("chat");

//         	const badgePayment = document.getElementById("badge_payment");
//         	const badgeBell = document.getElementById("badge_bell");
        	const badgeChat = document.getElementById("badge_chat");
//             this.pamentCount = 0;
            this.chatCount = 0;

//     		payment.addEventListener("click",()=>{
    			
//     		    if(badgePayment.style.display === 'none'){
//     		    	this.pamentCount += 1;
//     		    	badgePayment.textContent = this.pamentCount;
//     		    	badgePayment.style.display = 'unset';
//     		    }else {
//     		    	badgePayment.style.display = 'none';
//     		    }
//     		});

    		
    		bell.addEventListener("click",()=>{
    			if(badgeBell.style.display === 'none'){
       		    	badgeBell.style.display = 'block';
       		    }else {
       		    	badgeBell.style.display = 'none';
       		    }
      		});
    		
    		chat.addEventListener("click",()=>{
    	    	 window.open(
    			    "/messenger/list",
    			    "messenger",
    			    "noopener,noreferrer,width=500,height=700,left=200,top=100,resizable=no"
    			 );
            	/*const iframe = document.createElement("iframe");
    			iframe.src = "/messenger/popup";
    			iframe.style.position = "fixed";
    			iframe.style.right = "20px";
    			iframe.style.bottom = "20px";
    			iframe.style.width = "400px";
    			iframe.style.height = "600px";
    			iframe.style.border = "1px solid #ccc";
    			iframe.style.boxShadow = "0 0 12px rgba(0,0,0,0.2)";
    			iframe.style.borderRadius = "12px";
    			iframe.style.zIndex = "9999";
    			document.body.appendChild(iframe);*/
    			
    			/*if(badgeChat.style.display === 'none')  {
          		   	this.chatCount += 1;
          		   	badgeChat.textContent = this.chatCount;
          		   	badgeChat.style.display = 'block';
          		}else {
          			badgeChat.style.display = 'none';
          		}*/
      		});
    		
    		window.addEventListener("message", (event) => {
   			  if (event.data === "closeMessengerFrame") {
   			    document.querySelector("iframe[src='/messenger/popup']")?.remove();
   			  }
   			});
          </script>
          
		<script>
		 
		</script>


          
</th:block>