<th:block xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:fragment="aside">
    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
        <div class="app-brand demo">
            <a th:href="@{/main}">
                <img th:src="@{/icon/yeoun-logo.png}" width="190" />
            </a>
        </div>
        <!-- data-i18n : 다국어 지원 -->
        <ul class="menu-inner py-1">
            <!-- 메인화면 -->
            <li class="menu-item" id="main">
                <a href="/main" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-home-circle"></i>
                    <div data-i18n="Main">Main</div>
                </a>
            </li>
            <!-- 공지사항 -->
            <li class="menu-item" id="notice">
                <a href="/notice" class="menu-link">
                    <i class="fa-solid fa-bullhorn"></i>
                    <div data-i18n="Analytics">공지사항</div>
                </a>
            </li>
            <li class="menu-header small text-uppercase">
                <span class="menu-header-text">ERP</span>
            </li>
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <div data-i18n="Human Resources Management">인사관리</div>
                </a>
                <ul class="menu-sub">

                    <!-- 사원 목록 : HR + SYS_ADMIN + DEPT_MANAGER -->
                    <li class="menu-item" sec:authorize="hasAnyRole('HR_ADMIN','SYS_ADMIN', 'DEPT_MANAGER')">
                        <a href="/emp" class="menu-link">
                            <div data-i18n="Menu1" class="menu-link-sub">사원 목록</div>
                        </a>
                    </li>
                    <!-- 인사 발령 : 로그인한 사람 누구나 (목록) -->
                    <li class="menu-item" sec:authorize="isAuthenticated()">
                        <a href="/hr/actions" class="menu-link">
                            <div data-i18n="Menu2" class="menu-link-sub">인사 발령 목록</div>
                        </a>
                    </li>
                    <!-- 조직도 : 로그인한 사람 누구나 -->
                    <li class="menu-item" sec:authorize="isAuthenticated()">
                        <a href="/orgchart" class="menu-link">
                            <div data-i18n="Menu3" class="menu-link-sub">조직도</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <div data-i18n="Attendance management">근태관리</div>
                </a>
                <ul class="menu-sub">
                    <!-- 로그인한 사람 누구나 -->
                    <li class="menu-item" sec:authorize="isAuthenticated()">
                        <a href="/attendance/my" class="menu-link">
                            <div data-i18n="Menu2" class="menu-link-sub">출/퇴근 현황</div>
                        </a>
                    </li>
                    <!-- 로그인한 사람 누구나 -->
                    <li class="menu-item" sec:authorize="isAuthenticated()">
                        <a href="/leave/my" class="menu-link">
                            <div data-i18n="Menu2" class="menu-link-sub">연차 현황</div>
                        </a>
                    </li>
                    <!-- 부서장 + 시스템 관리자 + 근태 관리자  -->
                    <li class="menu-item" sec:authorize="hasAnyRole('ATTEND_ADMIN','SYS_ADMIN', 'DEPT_MANAGER')">
                        <a href="/attendance/list" class="menu-link">
                            <div data-i18n="Menu1" class="menu-link-sub">사원 출/퇴근 현황</div>
                        </a>
                    </li>
                    <!-- 시스템 관리자 + 근태 관리자  -->
                    <li class="menu-item" sec:authorize="hasAnyRole('ATTEND_ADMIN','SYS_ADMIN')">
                        <a href="/leave/list" class="menu-link">
                            <div data-i18n="Menu1" class="menu-link-sub">사원 연차 현황</div>
                        </a>
                    </li>
                    <!-- 시스템 관리자 + 근태 관리자 -->
                    <li class="menu-item" sec:authorize="hasAnyRole('SYS_ADMIN', 'ATTEND_ADMIN')">
                        <a href="/attendance/policy" class="menu-link">
                            <div data-i18n="Menu1" class="menu-link-sub">근무 정책 관리</div>
                        </a>
                    </li>
                    <!-- 시스템 관리자 -->
                    <li class="menu-item" sec:authorize="hasAnyRole('SYS_ADMIN')">
                        <a href="/attendance/accessList" class="menu-link">
                            <div data-i18n="Menu1" class="menu-link-sub">건물 출입 목록</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="/approval/approval_doc" class="menu-link">
                    <div data-i18n="Electronic Approval">전자결재</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <div data-i18n="Salary management">급여관리</div>
                </a>

                <ul class="menu-sub">

                    <!-- 관리자(HR_ADMIN, SYS_ADMIN)만 보임 -->
                    <li class="menu-item" sec:authorize="hasAnyRole('SYS_ADMIN')">
                        <a th:href="@{/pay/rule}" class="menu-link">
                            <div data-i18n="Menu1" class="menu-link-sub">기준정보</div>
                        </a>
                    </li>

                    <li class="menu-item" sec:authorize="hasAnyRole('SYS_ADMIN')">
                        <a th:href="@{/pay/calc/main}" class="menu-link">
                            <div data-i18n="Menu2" class="menu-link-sub">급여계산</div>
                        </a>
                    </li>

                    <li class="menu-item" sec:authorize="hasAnyRole('SYS_ADMIN')">
                        <a th:href="@{/pay/history}" class="menu-link">
                            <div data-i18n="Menu3" class="menu-link-sub">급여조회</div>
                        </a>
                    </li>

                    <!-- 사원 누구나: 본인 급여명세서 조회 -->
                    <li class="menu-item" sec:authorize="isAuthenticated()">
                        <a th:href="@{/pay/emp_pay}" class="menu-link">
                            <div data-i18n="Menu4" class="menu-link-sub">사원 급여조회</div>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="menu-header small text-uppercase">
                <span class="menu-header-text">MES</span>
            </li>
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <div data-i18n="Master Data Management" class="menu-link-sub">기준정보관리</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a th:href="@{/masterData/product}" class="menu-link" target="_blank">
                            <div data-i18n="Product/BOM Information Management" class="menu-link-sub">완제품/원재료</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a th:href="@{/masterData/bom_stock}" class="menu-link" target="_blank">
                            <div data-i18n="Product/BOM Information Management" class="menu-link-sub">BOM정보/안전재고</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a th:href="@{/masterData/qc_item}" class="menu-link" target="_blank">
                            <div data-i18n="Quality Item Management" class="menu-link-sub">품질항목관리</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a th:href="@{/masterData/process_mst}" class="menu-link" target="_blank">
                            <div data-i18n="Process Route/Process Code Management" class="menu-link-sub">공정라우트/공정코드관리</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a th:href="@{/equipment/master}" class="menu-link" target="_blank">
                            <div data-i18n="Equipment/Line" class="menu-link-sub">설비/라인관리</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <div data-i18n="Salary management">재고관리</div>
                </a>
                <ul class="menu-sub">
                    <!-- 관리자(HR_ADMIN, SYS_ADMIN)만 보임 -->
                    <li class="menu-item" sec:authorize="isAuthenticated()">
                        <a th:href="@{/inventory/dashboard}" class="menu-link">
                            <div data-i18n="Menu1" class="menu-link-sub">대시보드</div>
                        </a>
                    </li>

                    <li class="menu-item" sec:authorize="isAuthenticated()">
                        <a th:href="@{/inventory/list}" class="menu-link">
                            <div data-i18n="Menu2" class="menu-link-sub">재고조회</div>
                        </a>
                    </li>

                    <li class="menu-item" sec:authorize="isAuthenticated()">
                        <a th:href="@{/inventory/history}" class="menu-link">
                            <div data-i18n="Menu3" class="menu-link-sub">재고이력</div>
                        </a>
                    </li>

                    <!-- 사원 누구나: 본인 급여명세서 조회 -->
                    <li class="menu-item" sec:authorize="isAuthenticated()">
                        <a th:href="@{/inventory/stock-take}" class="menu-link">
                            <div data-i18n="Menu4" class="menu-link-sub">재고 실사</div>
                        </a>
                    </li>
                    
                    <li class="menu-item" sec:authorize="isAuthenticated()">
                        <a th:href="@{/inventory/inbound}" class="menu-link">
                            <div data-i18n="Menu4" class="menu-link-sub">입고관리</div>
                        </a>
                    </li>
                    <li class="menu-item" sec:authorize="isAuthenticated()">
                        <a th:href="@{/inventory/outbound/list}" class="menu-link">
                            <div data-i18n="Menu4" class="menu-link-sub">출고관리</div>
                        </a>
                    </li>
                </ul>
            </li>
              
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <div data-i18n="Sales management">영업관리</div>
                </a>
                <ul class="menu-sub">
	                <li class="menu-item" sec:authorize="isAuthenticated()">
	                     <a th:href="@{/sales/client}" class="menu-link">
	                        <div data-i18n="Menu1" class="menu-link-sub">거래처목록</div>
	                     </a>
	                </li>
                
	                <li class="menu-item" sec:authorize="isAuthenticated()">
	                     <a th:href="@{/sales/orders}" class="menu-link">
	                        <div data-i18n="Menu2" class="menu-link-sub">수주관리</div>
	                     </a>
	                </li>
                
	                <li class="menu-item" sec:authorize="isAuthenticated()">
	                    <a th:href="@{/sales/shipment}" class="menu-link">
	                        <div data-i18n="Menu3" class="menu-link-sub">출하관리</div>
	                    </a>
	                </li>
	            </ul>
            </li>

            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <div data-i18n="Work order">생산관리</div>
                </a>               
                
                <ul class="menu-sub">
               		<li class="menu-item" sec:authorize="isAuthenticated()">
                        <a th:href="@{/production/plan}" class="menu-link">
                            <div data-i18n="Menu1" class="menu-link-sub">생산계획</div>
                        </a>
                    </li>
                    <li class="menu-item" sec:authorize="isAuthenticated()">
                        <a th:href="@{/order/list}" class="menu-link">
                            <div data-i18n="Menu2" class="menu-link-sub">작업지시</div>
                        </a>
                    </li>
                    <li class="menu-item" sec:authorize="isAuthenticated()">
                        <a th:href="@{/order/schedule}" class="menu-link">
                            <div data-i18n="Menu3" class="menu-link-sub">작업자메뉴</div>
                        </a>
                    </li>
                </ul>
            </li>
            
            <!-- 설비 관리 -->
            <li class="menu-item">
            	<a href="javascript:void(0);" class="menu-link menu-toggle">
                    <div data-i18n="Equipment management">설비관리</div>
                </a>
                <ul class="menu-sub">
	                <li class="menu-item" sec:authorize="isAuthenticated()">
	                   <a th:href="@{/equipment/list}" class="menu-link">
	                       <div data-i18n="Menu1" class="menu-link-sub">설비현황</div>
	                   </a>
	                </li>
	                <li class="menu-item" sec:authorize="isAuthenticated()">
	                   <a th:href="@{/equipment/line}" class="menu-link">
	                       <div data-i18n="Menu2" class="menu-link-sub">라인현황</div>
	                   </a>
	                </li>
                </ul>
            </li>
            
            <!-- 공정 관리 -->              
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <div data-i18n="Process management">공정관리</div>
                </a>
                <ul class="menu-sub">
               		<li class="menu-item" sec:authorize="isAuthenticated()">
                        <a th:href="@{/production/dashboard}" class="menu-link">
                            <div data-i18n="Menu1" class="menu-link-sub">대시보드</div>
                        </a>
                    </li>
	                <li class="menu-item" sec:authorize="isAuthenticated()">
	                     <a th:href="@{/process/status}" class="menu-link">
	                        <div data-i18n="Menu1" class="menu-link-sub">공정 현황</div>
	                     </a>
	                </li>
                
	                <li class="menu-item" sec:authorize="isAuthenticated()">
	                     <a th:href="@{/lot/trace}" class="menu-link">
	                        <div data-i18n="Menu2" class="menu-link-sub">LOT 추적</div>
	                     </a>
	                </li>
                
	            </ul>
            </li>
            
            <!-- 품질 관리 -->
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <div data-i18n="Qc management">품질관리</div>
                </a>
                <ul class="menu-sub">
	                <li class="menu-item" sec:authorize="isAuthenticated()">
	                     <a th:href="@{/qc/regist}" class="menu-link">
	                        <div data-i18n="Menu1" class="menu-link-sub">QC 등록</div>
	                     </a>
	                </li>
                
	                <li class="menu-item" sec:authorize="isAuthenticated()">
	                     <a th:href="@{/qc/result}" class="menu-link">
	                        <div data-i18n="Menu2" class="menu-link-sub">QC 결과 조회</div>
	                     </a>
	                </li>
                
	            </ul>
            </li>

            <li class="menu-item">
                <a href="/setting/setting_doc" class="menu-link">
                    <div data-i18n="Setting" class="menu-link-sub">Setting</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="" class="menu-link" target="_blank">
                            <div data-i18n="Menu1" class="menu-link-sub">menu1</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="" class="menu-link" target="_blank">
                            <div data-i18n="Menu2" class="menu-link-sub">menu2</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="" class="menu-link" target="_blank">
                            <div data-i18n="Menu3" class="menu-link-sub">menu3</div>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- 관리자 메뉴 -->
            <li class="menu-header small text-uppercase" sec:authorize="hasAnyRole('SYS_ADMIN')">
                <span class="menu-header-text">관리자</span>
            </li>
            <li class="menu-item">
                <a href="/auth/manage" class="menu-link" sec:authorize="hasAnyRole('SYS_ADMIN')">
                    <div data-i18n="Auth">권한 관리</div>
                </a>
            </li>
        </ul>
    </aside>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // 현재 브라우저의 경로
            const currentPath = window.location.pathname;

            // 사이드바의 링크
            const menuLinks = document.querySelectorAll('.layout-menu .menu-link');

            menuLinks.forEach(link => {
                const href = link.getAttribute('href');

                // 현재 경로와 일치하거나 포함되어 있는지 확인
                if (href && href !== '#' && href !== 'javascript:void(0);') {

                    let isMatch = false;

                    // 메인 화면인 경우 정확히 일치할 때만
                    if (href === '/' || href === '/main') {
                        if (currentPath === '/' || currentPath === '/main') {
                            isMatch = true;
                        }
                    }
                    // 그 외 메뉴는 현재 경로가 href로 시작하면 활성
                    else if (currentPath.startsWith(href)) {
                        isMatch = true;
                    }

                    // 일치하는 메뉴를 찾았다면 스타일 적용
                    if (isMatch) {
                        // 해당 메뉴에 'active' 클래스 추가
                        const parentLi = link.closest('.menu-item');
                        if (parentLi) {
                            parentLi.classList.add('active');

                            // 서브메뉴(Dropdown) 안에 있는 메뉴라면?
                            // 부모 메뉴를 찾아서 펼쳐주고(open) 활성화(active) 표시
                            const parentSub = parentLi.closest('.menu-sub');
                            if (parentSub) {
                                const grandParentLi = parentSub.closest('.menu-item');
                                if (grandParentLi) {
                                    grandParentLi.classList.add('active', 'open');
                                }
                            }
                        }
                    }
                }
            });
        });
    </script>
</th:block>