<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>여운</title>

<!-- Favicon -->
<link rel="icon" type="image/x-icon" th:href="@{/icon/favicon.png}" />

<!-- Core CSS -->
<link rel="stylesheet" th:href="@{/assets/vendor/css/core.css}" class="template-customizer-core-css" />
<link rel="stylesheet" th:href="@{/assets/vendor/css/theme-default.css}" class="template-customizer-theme-css" />

<link rel="stylesheet" th:href="@{/assets/vendor/fonts/boxicons.css}" />

<!-- Vendors CSS -->
<link rel="stylesheet" th:href="@{/css/common.css}"/>


</head>
<body>

	<!-- 화면 전체 높이에서 중앙 정렬 -->
	<div class="min-vh-100 d-flex align-items-center justify-content-center">
	
	  <div class="container-xxl flex-grow-1 container-p-y">

	    <div class="row justify-content-center">
	      <div class="col-md-6">
	
	        <div class="card text-center" style="padding: 40px 20px;">
	          <div class="card-body">
	            
	            <!-- 큰 아이콘 -->
	            <div class="mb-3">
	              <i class="bx bx-lock-alt" style="font-size: 80px; color:#ff3e1d;"></i>
	            </div>
	
	            <!-- 제목 -->
	            <h3 class="card-title mb-2">접근 권한이 없습니다</h3>
	
	            <!-- 설명 -->
	            <p class="text-muted mb-4">
	              이 페이지에 접근할 수 있는 권한이 없습니다.<br>
	              필요한 경우 관리자에게 문의해주세요.
	            </p>
	
	            <!-- 버튼 -->
	            <a th:href="@{/main}" class="btn btn-primary">
	              <i class="bx bx-home-alt me-1"></i> 메인으로 돌아가기
	            </a>
	
	          </div>
	        </div>
	
	      </div>
	    </div>
	    
	  </div>
		
	</div>

</body>

</html>