<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layout.html}">
<body>
<th:block layout:fragment="content">
	<div class="custom-body container-xxl flex-grow-1 container-p-y">
	
	<h2>인사 발령 목록</h2>
	
	<div class="row g-2 align-items-center">

	  <!-- 검색 조건들 묶음 -->
	  <div class="col-12 col-lg-auto d-flex flex-wrap align-items-center gap-2">
	
	    <!-- 발령 구분 -->
	    <select class="form-select" id="actionType" name="actionType" style="width: 130px;">
	      <option value="">발령 구분</option>
	      <option value="PROMOTION">승진</option>
	      <option value="TRANSFER">전보</option>
	      <option value="RETIRE_ACT">퇴직</option>
	      <option value="LEAVE_ACT">휴직</option>
	      <option value="RETURN_ACT">복직</option>
	    </select>
	
	    <!-- 날짜 -->
	    <div class="d-flex align-items-center gap-2">
	      <input type="date" class="form-control" id="startDate" style="width: 140px;">
	      <span>~</span>
	      <input type="date" class="form-control" id="endDate" style="width: 140px;">
	    </div>
	
	    <!-- 키워드 -->
	    <input type="text" class="form-control"
	           placeholder="이름 또는 사원번호"
	           id="keyword" style="width: 200px;">
	
	    <!-- 조회 버튼 -->
	    <button class="btn btn-outline-primary" id="btnSearch">검색</button>
	  </div>
	
	  <!-- 오른쪽: 발령 등록 버튼 -->
	  <div class="col-12 col-lg d-flex justify-content-lg-end">
	    <a th:href="@{/hr/actions/regist}" href="/hr/actions/regist" class="btn btn-primary"
	       th:if="${#authorization.expression('hasRole(''HR_ADMIN'') or hasRole(''SYS_ADMIN'')')}">
	      발령 등록
	    </a>
	  </div>
	
	</div>

	<br>
	
	<div class="card-body p-0">
	    <div id="grid"></div>
    </div>
    
    <br>
    
    <nav aria-label="인사 발령 페이지네이션">
	  <ul class="pagination justify-content-center" id="hrPagination"></ul>
	</nav>
    
	
	</div>

<script th:src="@{/js/hr/hrList.js}"></script>		
	
</th:block>
</body>
