<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeoun.inventory.mapper.PurchaseMapper">

	<!-- 공급업체 조회 -->	
	<resultMap type="com.yeoun.inventory.dto.SupplierDTO" id="SupplierResultMap">
		<id property="clientId" column="CLIENT_ID"/>
		<result property="clientName"  column="CLIENT_NAME"/>
		<result property="managerName"  column="MANAGER_NAME"/>
		<result property="statusCode"  column="STATUS_CODE"/>
		
		<collection property="supplierItemList" ofType="com.yeoun.inventory.dto.SupplierItemDTO">
			<id property="itemId" column="ITEM_ID"/>
	        <result property="clientId" column="CLIENT_ID"/>
	        <result property="materialId" column="MATERIAL_ID"/>
	        <result property="matName"    column="MAT_NAME"/>
	        <result property="unitPrice"  column="UNIT_PRICE"/>
	        <result property="leadDays"   column="LEAD_DAYS"/>
	        <result property="unit"       column="UNIT"/>
	        <result property="supplyAvaliable" column="SUPPLY_AVAILABLE"/>
	        <result property="minOrderQty" column="MIN_ORDER_QTY"/>
	        <result property="orderUnit" column="ORDER_UNIT"/>
	        <result property="supplyAmount" column="SUPPLY_AMOUNT"/>
		</collection>
	</resultMap>
	
	<select id="findAllSuppliers" resultMap="SupplierResultMap">
		SELECT
			c.CLIENT_ID
			, c.CLIENT_NAME
			, c.MANAGER_NAME
			, c.STATUS_CODE
			, i.ITEM_ID
			, i.CLIENT_ID
			, i.MATERIAL_ID
			, m.MAT_NAME
			, i.UNIT_PRICE
			, i.LEAD_DAYS
			, i.UNIT
			, i.SUPPLY_AVAILABLE
			, i.MIN_ORDER_QTY
			, i.ORDER_UNIT
		FROM
			CLIENT c
		LEFT JOIN 
			CLIENT_ITEM  i
		ON
			c.CLIENT_ID = i.CLIENT_ID
		LEFT JOIN 
			MATERIAL_MST m
		ON
			i.MATERIAL_ID = m.MAT_ID
		WHERE
			c.CLIENT_TYPE = 'SUPPLIER'
			AND c.STATUS_CODE = 'ACTIVE'
		ORDER BY
			C.CLIENT_ID ASC, I.ITEM_ID ASC
	</select>
	
	<!-- 발주 상세 -->
	<resultMap type="com.yeoun.inventory.dto.MaterialOrderDTO" id="MaterialOrdertMap">
		<id property="orderId" column="ORDER_ID"/>
		<result property="clientId" column="CLIENT_ID"/>
		<result property="clientName"  column="CLIENT_NAME"/>
		<result property="status"  column="STATUS"/>
		<result property="dueDate"  column="DUE_DATE" />
		<result property="totalAmount"  column="TOTAL_AMOUNT"/>
		
		<collection property="items" ofType="com.yeoun.inventory.dto.MaterialOrderItemDTO">
			<id property="orderItemId" column="ORDER_ITEM_ID"/>
	        <result property="itemId" column="ITEM_ID"/>
	        <result property="orderAmount"    column="ORDER_AMOUNT"/>
	        <result property="unitPrice"  column="UNIT_PRICE"/>
	        <result property="supplyAmount"   column="SUPPLY_AMOUNT"/>
	        <result property="VAT"  column="VAT"/>
	        <result property="totalPrice" column="TOTAL_PRICE"/>
	        <result property="matName" column="MAT_NAME"/>
		</collection>
	</resultMap>
	
	
	<select id="findPurchaseOrder" resultMap="MaterialOrdertMap">
		SELECT
			m.ORDER_ID
			, m.CLIENT_ID
			, m.STATUS
			, m.DUE_DATE
			, m.TOTAL_AMOUNT
			, mi.ORDER_ITEM_ID
			, mi.ITEM_ID
			, mi.ORDER_AMOUNT
			, mi.UNIT_PRICE
			, mi.SUPPLY_AMOUNT
			, mi.VAT
			, mi.TOTAL_PRICE
			, c.CLIENT_NAME
			, mat.MAT_NAME
		FROM
			MATERIAL_ORDER m
		LEFT JOIN
			MATERIAL_ORDER_ITEM mi
		ON
			m.ORDER_ID = mi.ORDER_ID
		LEFT JOIN
			CLIENT c
		ON
			m.CLIENT_ID = c.CLIENT_ID
		LEFT JOIN
			CLIENT_ITEM ci
		ON
			mi.ITEM_ID = ci.ITEM_ID
		LEFT JOIN
			MATERIAL_MST mat
		ON
			ci.MATERIAL_ID = mat.MAT_ID
		WHERE
			m.ORDER_ID = #{id}
	</select>

</mapper>





